@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inter:wght@400;500;600;700;800&family=Kalam:wght@300;400;700&display=swap');

:root {
    --font1: font-family: 'Dancing Script', cursive;
    --font2: font-family: 'Inter', sans-serif;
    --font3: font-family: 'Kalam', cursive;
}

.body {
    background-color: #232427;
}

.header {
    display: flex;
    justify-content: end;
    font-size: 10px;
    font-family: 'Dancing Script', cursive;
    padding: 15px;
}

nav {
    text-align: center;
    margin-top: 40px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0px 50px 9px 0;
    font-size: 25pt;
    position: relative;
    margin-bottom: 20px;
}

nav a::after {
    content: "";
    width: 0%;
    height: 1.2px;
    background-color: #ffff;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav a:hover::after {
    width: 100%;
    background-color: #9F09FC;

}

/*--------------------------- ----------------------------------------------------------------*/

.div1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

.titullloo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 9px;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    gap: 10px;
}

.nome {
    color: #9F09FC;
}

.texto11 {
    display: flex;
    justify-content: center;
    margin: 30px 20px 50px 20px;
    color: #fff;
    font-size: 40px;
    padding: 15px;
    font-family: 'Dancing Script', cursive;

}

/*--------------------------- primeira parte do main-----------------------------------------------------------------*/
.img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 40px 50px 50px;
    color: #fff;

}

.primeiroimg1 {
    border-radius: 10%;
    box-shadow: 20px 20px 50px rgb(0, 0, 0.5);

}

.texto1 {
    display: flex;
    flex-direction: column;
    margin: 30px 20px 50px 20px;
    color: #fff;
}


/*---------------------------------------------------------------------------------------------*/
.formes {
    display: flex;
    color: #9F09FC;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin: 50px 0px 100px 100px;
    padding-right: 100px;

}

/*------------------------segunda parte do main --------------------------------------------------------------------*/
.card00 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 70px 40px 70px;
    color: #fff;
    font-size: 20px;
}

.card_1 {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9F09FC;
    width: 200px;
    height: 400px;
    box-shadow: 20px 20px 50px rgb(0, 0, 0.5);
    border-radius: 15px;
    padding: 50px;
}

.img_card_2 {
    border-radius: 75px;
}

.card_11 {
    margin: 10px 0px 10px 0px;
}

/*--------------------------------------------------------------------------------------------*/
.container_11 {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Kalam', cursive;
    font-size: 20px;
}

.segundabola {
    display: flex;
    border-radius: 105px;
    margin: 150px 0px 150px 150px;

}

.container_12 {
    margin-left: 40px;
    font-size: 30px;
    text-align: start;
}

.lorem{
    text-align: justify;
}

.nicolas {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: #9F09FC;
}

/*--------------------------------------------------------------------------------------------*/
.whats{
    position: fixed;
    margin-right: 20px;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    
    
}


/*--------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
    .header{
        margin: 30px 0px 10px 10px;
    }

    nav a {
        align-items: center;
        font-size: 20px;
    }
    a {
        justify-content: center;
        margin-top: 100px;
    }

    .div1 {
        display: flex;
        flex-direction: column;
        margin: 1px;
        font-size: 1px;
    }

    .img {
        display: flex;
        justify-content: center;
        width: 100vh;
        margin: 20px;
    }

    .primeiroimg1{
        display: flex;
        width: 53vh;
    }
    .titullloo{
        font-size: 29px;
    }

    .texto1 {
        font-size: 10px;
        flex-direction: column;
        margin: 20px;
     }
     .formes{
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin: 0px 0px 10px 80px;
    }

     .texto11{
        font-size: 20px;
        margin: 40px 20px 20px;
        text-align: center;
     }

    .card00{
        flex-direction: column;
    }
    .card_1{
        justify-content: center;
        margin: 10px 20px 10px 20px;
    }

    .segundabola {
       margin: 20px;
    }

    .container_11{
        flex-direction: column;
        margin: 10px;
    }
    
    .container_12{
        margin: 15px 18px 80px;
    }
    
    .nicolas{
        margin-top:25px;
    }

}
